body.login {
	background: none;
}
body.login div#login {
	background: url('./images/bannerwd70.png');
	padding: 36px;
	padding-right: 44px;
	margin: 100px auto;
}
body.login div#login form#loginform {
	background: none;
	border: 1px solid #232323;
	box-shadow: 0px 0px 3px -1px rgba(200, 200, 200, 0.7);
}
body.login div#login form#loginform p label {
	color: #fff;
}
body.login div#login form#loginform input[type=text],
body.login div#login form#loginform input[type=email],
body.login div#login form#loginform input[type=password]{
	background: url('./images/bg80.jpg');
	border: 1px solid #232323;
	opacity: .7;
	color: #36383B;
	padding: 8px;
	font-size: 16px;
}
body.login div#login form#loginform input[type=submit]{
	padding: 3px 15px;
}
body.login div#login .message{
	background: none;
	color: #fff;
}
body.login div#login #login_error{
	background: none;
	color: #fff;
}
body.login div#login p#nav {
	color: rgb(33, 117, 155);
}
body.login div#login p#nav a {
	text-shadow: none;
}
body.login div#login p#backtoblog a {
	text-shadow: none;
}



/*--------------- Register Form --------------------*/
body.login div#login form#registerform {
	background: none;
	border: 1px solid #232323;
	box-shadow: 0px 0px 3px -1px rgba(200, 200, 200, 0.7);
}
body.login div#login form#registerform p label {
	color: #fff;
}
body.login div#login form#registerform input[type=text],
body.login div#login form#registerform input[type=email],
body.login div#login form#registerform input[type=password]{
	background: url('./images/bg80.jpg');
	border: 1px solid #232323;
	opacity: .7;
	color: #36383B;
	padding: 8px;
	font-size: 16px;
}
body.login div#login form#registerform p {
	color: #fff;
}

/*--------------- lost password form -------------------*/
body.login div#login form#lostpasswordform {
	background: none;
	border: 1px solid #232323;
	box-shadow: 0px 0px 3px -1px rgba(200, 200, 200, 0.7);
}
body.login div#login form#lostpasswordform p label {
	color: #fff;
}
body.login div#login form#lostpasswordform input[type=text],
body.login div#login form#lostpasswordform input[type=email],
body.login div#login form#lostpasswordform input[type=password]{
	background: url('./images/bg80.jpg');
	border: 1px solid #232323;
	opacity: .7;
	color: #36383B;
	padding: 8px;
	font-size: 16px;
}
body.login div#login form#lostpasswordform p {
	color: #fff;
}


/*------------------ Reset Password Form -------------------*/
body.login div#login form#resetpassform{
	background: none;
	border: 1px solid #232323;
	box-shadow: 0px 0px 3px -1px rgba(200, 200, 200, 0.7);
}
body.login div#login form#resetpassform p label{
	color: #FFF;
}
body.login div#login form#resetpassform p{
	color: #FFF;
}

body.login div#login form#resetpassform input[type=text],
body.login div#login form#resetpassform input[type=email],
body.login div#login form#resetpassform input[type=password],{
	background: url('./images/bg80.jpg');
	border: 1px solid #232323;
	opacity: .7;
	color: #36383B;
	padding: 8px;
	font-size: 16px;
}
/*------------ Text color of the Form at the bottom ----------*/

body.login div#login p#nav {
	text-shadow: none ! important;
	color: #247EA7 ! important;
}

body.login div#login p#nav a {
	text-shadow: none ! important;
	color: #247EA7 ! important;
}

body.login div#login p#backtoblog a {
	text-shadow: none !important;
	color: #247EA7 ! important;
}

/*----------- Update for wordpress Version 3.8 ---------------*/
.login h1 a {
	min-width: 325px;
}